{% extends 'base.html.twig' %}

{% block title %}Hello SteamController!{% endblock %}

{% block body %}
<section class="jeux">

    {% for jeu in jeux %}
    <article>
         <h2>{{ jeu.Titre }}</h2>
                <div class ="content">
                    <img src="{{ jeu.image }}" alt"">
                    <p><a>Prix : </a>{{ jeu.Prix }}<a>€</a></p>
                    <p>{{ jeu.Description }}</p>
                    <a href="{{ path('jeux_show', {'id' : jeu.id}) }}" class="btn btn-primary">En savoir plus</a>
                </div>
    </article>
    {% endfor %}

</section>
{% endblock %}
