{% extends 'base.html.twig' %}

{% form_theme formJeux 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Publication d'un jeu !</h1>

    {{ form_start(formJeux) }}

    {{ form_row(formJeux.Titre, {'attr': {'placeholder' : "Nom du jeux"}}) }}
    {{ form_row(formJeux.createur, {'attr': {'placeholder' : "Votre nom"}}) }}
    {{ form_row(formJeux.description, {'attr': {'placeholder' : "Description de votre jeu"}}) }}
    {{ form_row(formJeux.categorie, {'attr': {'placeholder' : "Catégorie de votre jeux"}}) }}
    {{ form_row(formJeux.Prix, {'attr': {'placeholder' : "Prix"}}) }}
    {{ form_row(formJeux.image, {'attr': {'placeholder' : "Url d'une image"}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer

        {% else %}
            Ajouter un jeu

        {% endif %}
    </button>

    {{ form_end(formJeux) }}



{% endblock %}